{% extends 'base.html.twig' %}

{% block title %}Ajouter un événement{% endblock %}

{% block body %}
<div class="add-container container">
    <h1 class="update-title">Ajouter un événement</h1>
    
    <div class="form-container">
        {{ form_start(form) }}
            {{ form_row(form.title, {'label': 'Titre'}) }}
            {{ form_row(form.description, {'label': 'Description'}) }}
            {{ form_row(form.startDateTime, {'label': 'Date et heure de début'}) }}
            {{ form_row(form.endDateTime, {'label': 'Date et heure de fin'}) }}
            {{ form_row(form.location, {'label' : 'Lieu'}) }}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary btn-add">Enregistrer</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
