<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    {% endblock %}

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img class="navbar_logo-img" src="{{ asset('images/logoSE.png')}}" alt="logo application">
            <span class="navbar_logo-text">Symfony Events</span>
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ml-auto flex-row justify-content-around">
                {% if app.user %}
                    <a href="{{ path('app_user_profil') }}" class="lien mr-3">Mes événements</a>
                    <a href="{{ path('app_add_event') }}" class="lien-btn mr-3">Ajouter un événement</a>
                    <a href="{{ path('app_logout') }}" class="lien">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="lien mr-3">Connexion</a>
                    <a href="{{ path('app_register') }}" class="lien">Inscription</a>
                {% endif %}
            </div>
        </div>
    </nav>
        {% block body %}
        {% endblock %}
</body>

</html>