<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% endblock %}

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('app_home') }}">Symfony Events</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if app.user %}
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="{{ path('app_user_profil') }}" class="nav-item nav-link">Mes événements créer</a>
            </div>
        </div>
        {# <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="{{ path('app_user_participating_events') }}" class="nav-item nav-link">Mes événements auxquels je participe</a>
            </div>
        </div> #}
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="{{ path('app_add_event') }}" class="nav-item nav-link">Ajouter un événement</a>
            </div>
        </div>
        <div class="navbar-nav ml-auto">
            <a href="{{ path('app_logout') }}" class="nav-item nav-link">Déconnexion</a>
        </div>
        {% else %}
        <div class="navbar-nav ml-auto">
            <a href="{{ path('app_login') }}" class="nav-item nav-link">Connexion</a>
            <a href="{{ path('app_register') }}" class="nav-item nav-link">Inscription</a>
        </div>
        {% endif %}
    </nav>
        {% block body %}
        {% endblock %}
</body>

</html>