{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="register-container container">
    <h1 class="register-title">Inscription</h1>
    
    <div class="form-container">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email, { label: 'Email' }) }}
            {{ form_row(registrationForm.password, { label: 'Mot de passe' }) }}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary btn-register">S'inscrire</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}